*.DS_store
/tmp
*.vscode

# Ignore everything
latex/*
# But not these files...
!configs
!coppe-plain.bst
!coppe-logo.eps
!poli-logo.eps
!coppe-unsrt.bst
!coppe.cls
!coppe.ist
!latexmkrc
!example.bib
!example.tex
!Makefile
!.gitignore
!chapters/
!chapters/*
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/TCC.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
modulation_toolbox/__pycache__/__init__.cpython-39.pyc
modulation_toolbox/filterbank/__pycache__/designfilterbank.cpython-39.pyc
modulation_toolbox/filterbank/__pycache__/filterbanksynth.cpython-39.pyc
modulation_toolbox/modulation_toolbox/__pycache__/__init__.cpython-39.pyc
modulation_toolbox/modulation_toolbox/filter/__pycache__/__init__.cpython-39.pyc
modulation_toolbox/modulation_toolbox/filter/__pycache__/designfilter.cpython-39.pyc
modulation_toolbox/modulation_toolbox/filter/__pycache__/firpmord.cpython-39.pyc
modulation_toolbox/modulation_toolbox/filter/__pycache__/halfbandfir.cpython-39.pyc
octave-workspace
modulation_toolbox/modulation_toolbox/filter/exemplo.py
