*.DS_store
/tmp
*.vscode
*.pyc

# Ignore everything
latex/*
# But not these files...
!configs
!coppe-plain.bst
!coppe-logo.eps
!poli-logo.eps
!coppe-unsrt.bst
!coppe.cls
!coppe.ist
!latexmkrc
!example.bib
!example.tex
!Makefile
!.gitignore
!chapters/
!chapters/*
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/TCC.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
modulation_toolbox/__pycache__/__init__.cpython-39.pyc
modulation_toolbox_py/filterbank/__pycache__/designfilterbank.cpython-39.pyc
modulation_toolbox_py/filterbank/__pycache__/filterbanksynth.cpython-39.pyc
modulation_toolbox_py/__pycache__/__init__.cpython-39.pyc
modulation_toolbox_py/filter/__pycache__/__init__.cpython-39.pyc
modulation_toolbox_py/filter/__pycache__/designfilter.cpython-39.pyc
modulation_toolbox_py/filter/__pycache__/firpmord.cpython-39.pyc
modulation_toolbox_py/filter/__pycache__/halfbandfir.cpython-39.pyc
octave-workspace
modulation_toolbox_py/filter/exemplo.py
.idea/other.xml
/modulation_toolbox_py/sounds/
modulation_toolbox_py/__pycache__/index.cpython-39.pyc
modulation_toolbox_py/__pycache__/moddecomp.cpython-39.pyc
modulation_toolbox_py/__pycache__/modspectrum.cpython-39.pyc
modulation_toolbox_py/__pycache__/parsedecompinputs.cpython-39.pyc
modulation_toolbox_py/demod/__pycache__/__init__.cpython-39.pyc
modulation_toolbox_py/demod/__pycache__/carrier2if.cpython-39.pyc
modulation_toolbox_py/demod/__pycache__/detectpitch.cpython-39.pyc
modulation_toolbox_py/demod/__pycache__/if2carrier.cpython-39.pyc
modulation_toolbox_py/demod/__pycache__/moddecompcog.cpython-39.pyc
modulation_toolbox_py/demod/__pycache__/moddecomphilb.cpython-39.pyc
modulation_toolbox_py/filter/__pycache__/fftfilt.cpython-39.pyc
modulation_toolbox_py/filterbank/__pycache__/__init__.cpython-39.pyc
modulation_toolbox_py/filterbank/__pycache__/cutoffs2fbdesign.cpython-39.pyc
modulation_toolbox_py/filterbank/__pycache__/designfilterbank_stft.cpython-39.pyc
modulation_toolbox_py/filterbank/__pycache__/filterbankfreqz.cpython-39.pyc
modulation_toolbox_py/filterbank/__pycache__/filtersubbands.cpython-39.pyc
