# Ignore everything
*

# But not these files...
!configs
!coppe-plain.bst
!coppe-logo.eps
!poli-logo.eps
!coppe-unsrt.bst
!coppe.cls
!coppe.ist
!latexmkrc
!example.bib
!example.tex
!Makefile
!.gitignore
!chapters
!chapters/*